
.idea/cogsci-2023.iml
.idea/cogsci-2023.iml
.idea/modules.xml
.DS_Store
.idea/modules.xml
.idea/cogsci-2023.iml
.idea/modules.xml
.Rproj.user
.Rhistory
.RData
r_scripts/3_new_predicted_accuracy.nb.nb.html
